Repository voxpupuli/puppet-openproject: changes, and which GitLab CI jobs are due for each by the changed paths.
All: qa-lint, qa-yamllint, qa-metadata_lint, qa-rubocop, qa-syntax, test-unit

qa-lint:
  stage: QA
  script:
  - $RAKE voxpupuli:custom:lint_all

qa-yamllint:
  stage: QA
  script:
  - yamllint -c .yamllint.yaml data/

qa-metadata_lint:
  stage: QA
  script:
  - $RAKE metadata_lint

qa-rubocop:
  stage: QA
  script:
  - $RAKE rubocop

qa-syntax:
  stage: QA
  script:
  - $RAKE syntax

test-unit:
  stage: Test
  image:
    name: ghcr.io/voxpupuli/voxbox:${OPENVOX_MAJOR}
    entrypoint:
    - ''
  parallel:
    matrix:
    - OPENVOX_MAJOR: '7'
      CI_NODE_TOTAL: '1'
    - OPENVOX_MAJOR: '8'
  script:
  - $RAKE spec

Add openproject::backup and openproject::restore Bolt tasks
  REFERENCE.md
  spec/tasks/backup_spec.rb
  spec/tasks/restore_spec.rb
  tasks/backup.json
  tasks/backup.rb
  tasks/restore.json
  tasks/restore.rb
Due: qa-rubocop, test-unit

Update .gitignore with additional exclusions
  .gitignore
Due: none

Introducing puppet-openproject
  .gitignore
  .openvox-version
  CHANGELOG.md
  LICENSE.md
  Rakefile
  metadata.json
Due: qa-metadata_lint

Fix APT refresh race condition on first Puppet run
  .gitignore
  manifests/install.pp
  spec/classes/install_spec.rb
  spec/classes/openproject_spec.rb
Due: qa-lint, qa-rubocop, qa-syntax, test-unit

[blacksmith] Bump version to 1.0.1
  metadata.json
Due: qa-metadata_lint

Add OpenVox MCP compliance: SPDX headers and license update
  manifests/configure.pp
  manifests/init.pp
  manifests/install.pp
  manifests/repository.pp
  manifests/system_requirements.pp
  metadata.json
  openvox_mcp_findings.md
  spec/acceptance/openproject_spec.rb
  spec/classes/configure_spec.rb
  spec/classes/install_spec.rb
  spec/classes/openproject_spec.rb
  spec/classes/repository_spec.rb
  spec/spec_helper_acceptance.rb
  spec/spec_helper_local.rb
  spec/tasks/backup_spec.rb
  spec/tasks/restore_spec.rb
  tasks/backup.rb
  tasks/restore.rb
  templates/enterprise_token.rb.epp
  templates/env.epp
  templates/installer.dat.epp
Due: qa-lint, qa-metadata_lint, qa-rubocop, qa-syntax, test-unit

Add GOVERNANCE.md and .ai-provenance.yml for MCP compliance
  .ai-provenance.yml
  GOVERNANCE.md
Due: none

Add MCP configuration documentation and .mcp.json.example
  .gitignore
  .mcp.json.example
  README.md
Due: none

Document Debian 13 SHA1 blocker and remove premature nodeset
  .todo/debian13-sha1-blocker.md
  README.md
  spec/acceptance/nodesets/debian13-libvirt.yaml
Due: none

Add RHEL 9 and CentOS 9 support
  .fixtures.yml
  .todo/github-actions-modulesync.md
  .todo/ubuntu-sles-support.md
  README.md
  data/os/RedHat.yaml
  hiera.yaml
  manifests/init.pp
  manifests/install.pp
  manifests/repository.pp
  metadata.json
  spec/acceptance/data/os/RedHat.yaml
  spec/acceptance/nodesets/centos9-libvirt.yaml
  spec/classes/configure_spec.rb
  spec/classes/install_spec.rb
  spec/classes/openproject_spec.rb
  spec/classes/repository_spec.rb
  spec/classes/system_requirements_spec.rb
Due: qa-lint, qa-yamllint, qa-metadata_lint, qa-rubocop, qa-syntax, test-unit

Add spec tests for openproject::system_requirements class
  spec/classes/system_requirements_spec.rb
Due: qa-rubocop, test-unit

Add CONTRIBUTING.md with Voxpupuli workflow and MCP policy
  CONTRIBUTING.md
Due: none

Add examples/init.pp for basic module usage
  examples/init.pp
Due: qa-lint

Add openproject_version custom fact
  REFERENCE.md
  lib/facter/openproject_version.rb
  spec/unit/facter/openproject_version_spec.rb
Due: qa-rubocop, test-unit

Add Bolt health_check task for OpenProject monitoring
  .openvox-mcp.yml
  REFERENCE.md
  spec/tasks/health_check_spec.rb
  tasks/health_check.json
  tasks/health_check.rb
Due: qa-rubocop, test-unit

modulesync 10.6.0
  .devcontainer/devcontainer.json
  .editorconfig
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .gitlab-ci.yml
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Due: qa-rubocop

Consolidate .ai-provenance.yml to single entries schema
  .ai-provenance.yml
Due: none

Adding openvox-mcp configuration
  .openvox-mcp.yml
Due: none

Adding DCO note for legacy and DCO text
  GOVERNANCE.md
  dco.txt
Due: none

Removing empty file, has no use now
  spec/setup_acceptance_node.pp
Due: qa-lint

Pin yumrepo_core fixture to v2.1.0 for Puppet 7 compatibility
  .fixtures.yml
Due: none

Drop OpenVox 7 support
  metadata.json
Due: qa-metadata_lint

rubocop: autofix
  spec/acceptance/openproject_spec.rb
  spec/classes/configure_spec.rb
  spec/classes/install_spec.rb
  spec/classes/openproject_spec.rb
  spec/classes/repository_spec.rb
  spec/tasks/backup_spec.rb
  spec/tasks/restore_spec.rb
  tasks/backup.rb
  tasks/restore.rb
Due: qa-rubocop, test-unit

modulesync 10.7.0
  .github/workflows/create_tag.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .msync.yml
Due: none

regenerate REFERENCE.md
  REFERENCE.md
Due: none

modulesync 10.8.0
  .github/workflows/ci.yml
  .msync.yml
  Gemfile
Due: none

chore: Mark Rakefile unmanaged and add beaker fixture wiring
  .sync.yml
  Rakefile
Due: none

docs: Record AI provenance for beaker fixture wiring commit
  .ai-provenance.yml
Due: none

release: Prepare v1.1.0 with CI fixes and rubocop alignment
  .github/workflows/ci.yml
  .sync.yml
  lib/facter/openproject_version.rb
  metadata.json
  spec/unit/facter/openproject_version_spec.rb
  tasks/health_check.rb
Due: qa-metadata_lint, qa-rubocop, test-unit

modulesync 10.9.0
  .github/workflows/labeler.yml
  .gitignore
  .msync.yml
  CONTRIBUTING.md
  Gemfile
Due: none

Update requirements to allow OpenVox 9
  metadata.json
Due: qa-metadata_lint

Path conditions:
  qa-lint: any of: **/*.pp
  qa-yamllint: any of: data/**/*.yaml
  qa-metadata_lint: any of: metadata.json
  qa-rubocop: any of: **/*.rb
  qa-syntax: any of: data/**/*.yaml, manifests/**/*.pp, templates/**/*.epp, templates/**/*.erb
  test-unit: any of: data/**/*.yaml, manifests/**/*.pp, spec/**/*_spec.rb, templates/**/*.epp, templates/**/*.erb
